.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card
{
  height: 400px;
  margin-top: 30px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  margin-left: 40px;
}

.name
{
  color: skyblue;
  font-size: 50px;
  margin-top: 30px;
  display: flex;
  margin-left: 40px;

}

.heade{
  color: #B1AEAE;
  font-size: 12px;
  display: flex;
  margin-left: 40px;

}

.ans{
  display: flex;
  font-weight: 500;
  margin-left: 40px;
}

.container
{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  padding: 2px ;
  margin: 30px;
  margin-left: 80px;
}